<h2>Base</h2>

<h1>H1 title</h1>
<h2>H2 title</h2>
<h3>H3 title</h3>
<h4>H4 title</h4>
<h5>H5 title</h5>
<h6>H6 title</h6>

<p>
  este es un curso de angular enfocado en la creacion de un Ecommerce

</p>

<app-button >Boton de prueba controles</app-button>

<h3>Links</h3>

<a class="app-a">link1</a>
<a class="app-a">link2</a>
<a class="app-a">link3</a>

<h3>Buttons</h3>

<button class="app-button">Boton</button>

<h3>code</h3>

<code>const parameter=100</code>

<h3>input</h3>

<h1>hola</h1>



<input type="text" class="app-input"/>

<h3>Mixins</h3>

<h3>Shadow</h3>

<div class="shadow"> Shadows Mixin</div>

<h3>Card</h3>

<div class="card">card mixin</div>
